<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
       <style>
        h1{
        font-family:roboto;
        }
        .fmain{
        width:33%;
        margin-left: 30%;

        background-color: aqua;

    border-radius: 104px / 400px;


        }
        .form{
            position: relative;
            padding-left: 175px;
        }
    </style>
</head>
<body>


<div class="form">
<form method="post" >
    {% csrf_token %}
    <h1>Login</h1>
    <input type="text" name="username" placeholder="Enter your name"><br>

    <input type="password" name="password" placeholder="Enter your password"><br>

    <input type="submit"><br>


</form>
    {% for msg in messages %}
    {{msg}}
    {% endfor %}

</div>

</body>
</html>